[general]
gpio = 26
meter_constant = 1000
powercap = 99
interval = 10
decimals = 3
[files]
powerfile = /ramdisk/teho.txt
counterfile = /ramdisk/tehocounter.txt
[mqtt]
address = 192.168.1.1
ledtehotopic = ledteho/sensor/power/state
ledtehomediantopic = ledteho/sensor/powermedian/state
ledtehocountertopic = ledteho/sensor/counter/state

